
<!-- START MAIN CONTENT  -->
<div class="signup-form">

        <!--  START MANAGE CONTEND  -->
        <div class="about_content" >
            <div class="container">
                <div class="row">
                    <div class="col-12  col-lg-8 offset-lg-2 text-center wow slideInUp">
                        <h1 class="heading">Regístrate</h1>
                        <p class="para_text mt-3">No esperes más...</p>
                    </div>
                </div>
            </div>

            <!--  START FORM SECTION  -->
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-12 col-sm-12 pr-lg-0 whitebox wow slideInLeft">
                    <div class="widget logincontainer register-account">
                        <h3 class="bottom35 text-center text-md-left">Crea tu cuenta </h3>
                        <form class="getin_form border-form contact-form" id="contact-form-data">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerName" class="d-none"></label>
                                        <input class="form-control" type="text" placeholder="Nombre completo:" id="nombre">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerEmail" class="d-none"></label>
                                        <input class="form-control" type="email" placeholder="Email:" id="email">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPass" class="d-none"></label>
                                        <input class="form-control" type="password" placeholder="Contraseña:" id="password">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPassConfirm" class="d-none"></label>
                                        <input class="form-control" type="password" placeholder="Confirmar contraseña:" id="confirmpassword">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <div class="form-check text-left">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                                <label class="custom-control-label register-remember" for="defaultUnchecked">Recordarme en este dispositivo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 register-btn">
                                    <button type="button" class="btn pink-gradient-btn-into-black">Registrarme</button>
                                    <button class="loginBtn loginBtn--facebook">Registrarme</button>
                                    <button type="button" class="btn loginBtn--google loginBtn">Registrarme</button>
                                    <p class="top20 SignInclass"> ¿Ya tienes una cuenta? &nbsp;<a href="/login">Inicia sesión</a> </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 registeration-detail wow slideInRight"data-wow-delay=".9s">
                    <div class="heading-area pl-lg-4 p-0">
                        <h6 class="sub-title text-left">Bellota Estudio</h6>
                        <h2 class="title">Beneficios de registrarse: </h2>
                        <p class="paragraph">
                            <!--List-->
                        <ul class="about-list">

                            <li><i class="lni-check-mark-circle a-icon  mr-lg-3 mr-sm-2"></i> <span>Podemos capturar adecuadamente tus datos de envio y que tu paquete llegue a tu domicilio.</span></li>
                            <li><i class="lni-check-mark-circle a-icon  mr-lg-3 mr-sm-2"></i> <span>Proximamente descuentos</span></li>
                            <li><i class="lni-check-mark-circle a-icon  mr-lg-3 mr-sm-3"></i> <span>Proximamente promociones</span></li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--  END FORM SECTION  -->

        </div>
        <!--  END MANAGE CONTEND  -->



</div>