<div class="loader1">
    <div class="loader-inner">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>
<div id="contenedorAdmin">
  <div  style="background-color: white; text-align: center;">
    <div style="border-top: 4px double black; border-bottom: 4px double black;" >
      <br>
      <h2>Bienvenido(a) al panel de administración</h2>
      <br>
    </div>
  </div>
  <div  id="botonesAdmin" style="text-align: center; padding:50px; border-bottom: 4px double black;">
    <button type="button" onclick="location.href='/admin/product';" class="btn black-btn-with-border" id="agregarProductos" style="width:200px; margin: 10px;">Productos</button>
    <button type="button" onclick="location.href='/admin/user';" class="btn black-btn-with-border" id="agregarProductos" style="width:200px; margin: 10px;">Usuarios</button>
  </div>
</div>
<router-outlet></router-outlet>