<div class="loader1">
    <div class="loader-inner">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>
<div id="contenedorAdmin">
  <div  style="background-color: white; text-align: center;">
    <div style="border-top: 4px double black; border-bottom: 4px double black;" >
      <br>
      <h2>Bienvenido(a) al panel de administración</h2>
      <br>
    </div>
  </div>
  <div  id="botonesAdmin" style="text-align: center; padding:50px; border-bottom: 4px double black;">
    <button type="button" class="btn black-btn-with-border" id="agregarProductos" style="width:200px; margin: 10px;">Productos</button>
    <button type="button" class="btn black-btn-with-border" id="agregarProductos" style="width:200px; margin: 10px;">Usuarios</button>
  </div>
</div>        
<div *ngIf="products.length<1 else other">
  <div>
    <div style="text-align: center;">
      <br>
      <h3>No tienes productos agregados</h3>
      <br>
      <img src="assets/img/admin-productos.jpg">
    </div>  
  </div>  
</div>         
<ng-template #other>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 cart_table wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;" style="margin-top: -60px;">
          <div class="table-responsive">
            <br>
            <table class="table table-bordered border-radius" style="text-align: center;">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>Stock</th>
                  <th style="width: 150px">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr class="rem1" *ngFor="let product of products">
                  <td>{{product.name}}</td>
                  <td>{{product.description}}</td>
                  <td>${{product.price}}</td>
                  <td >{{product.amount}}</td>
                  <td>
                    <button style="margin-bottom: 2px" class="btn btn-warning btn-block">Editar</button>
                    <button style="margin-bottom: 2px" class="btn btn-danger btn-block">Borrar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

